name: Build DiscordForOffice

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup msbuild
      uses: microsoft/setup-msbuild@v1
    - name: Restore dependencies
      run: nuget restore DiscordForOffice.sln
    - name: Build project
      run: msbuild DiscordForOffice.sln /p:Configuration="Release" /property:Platform="Any CPU"
    - uses: actions/upload-artifact@v2
      with:
        name: Installer
        path: Bundler/bin/Release/DiscordForOffice.exe
